//*******************coclor*******************
@import "color.scss";

@function b-hover($n) {
  @return darken($n, 10%);
}
.j-w-black{
  color: $balck;
}
.j-black{
  background-color: $balck;
  color: #fff;
}
.j-black-h{
  @extend .j-black;
  &:hover {
    background-color: b-hover($balck);
  }
}
.j-w-black-d{
  color: $balck-d;
}
.j-black-d{
  background-color: $balck-d;
  color: #fff;
}
.j-black-d-h{
  @extend .j-black-d;
  &:hover {
    background-color: b-hover($balck-d);
  }
}
.j-red{
  background-color: $red;
  color: #fff;
}
.j-red-h{
  @extend .j-red;
  &:hover {
    background-color: b-hover($red);
  }
}
.j-blue{
  background-color: $blue;
  color: #fff;
}
.j-blue-h{
  @extend .j-blue;
  &:hover {
    background-color: b-hover($blue);
  }
}
.j-w-green{
  color:$green;
}
.j-green{
  background-color: $green;
  color: #fff;
}
.j-green-h{
  @extend .j-green;
  &:hover {
    background-color: b-hover($green);
  }
}
.j-yellow{
  background-color: $yellow;
  color: #fff;
}
.j-yellow-h{
  @extend .j-yellow;
  &:hover {
    background-color: b-hover($yellow);
  }
}
.j-gray{
  background-color: $gray;
  color: #333;
}
.j-gray-h{
  @extend .j-gray;
  &:hover {
    background-color: b-hover($gray);
  }
}
.j-white{
  background-color: $white;
  color: #444;
}
.j-w-white{
  color: $white;
}
.j-white-h{
  @extend .j-white;
  border: 1px solid $gray-d;
  &:hover {
    background-color: b-hover($white);
  }
}
//*******************button*******************
.title-min{
  text-align: left;
  margin: 10px 0;
  font-size: 16px;
}


//*******************Tab*******************
