*{padding:0;margin:0;box-sizing:border-box;}
div,dl,dt,dd,form,h1,h2,h3,h4,h5,h6,img,ol,ul,li,table,th,td,p,span,a{border:0;}
img,input{border:none;vertical-align:middle;}
body{font-family:Tahoma,Arial,Helvetica,"宋体";font-size:12px;text-align:center;background:#FFF;color:#000;}
html{overflow-y:auto;}
ul,ol{list-style-type:none;}
th,td,input{font-size:12px;}
h3{font-size:14px;}
button{border:none;cursor:pointer;font-size:12px;background-color:transparent;}
select{border-width:1px;_zoom:1;border-style:solid;padding-top:2px;font-size:12px;}
.clear{clear:both;font-size:1px;height:0;visibility:hidden;line-height:0;}
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}
a:link,a:visited{text-decoration:none;color:#333;}
a:hover,a:active{text-decoration:none;color:#f60;}
a{ text-decoration:none; }

.no-margin{margin:0}
.one-row-show{overflow: hidden;  text-overflow: ellipsis; white-space: nowrap;}

/* input{ outline: none} */
/***************************************/
/* 隐藏滚动轴 */
.hide-overflow{overflow:hidden;}

/***************************************/
/* transition */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}


/***************************************/
select {
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  border: solid 1px #e5e5e5;
  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  /*在选择框的最右侧中间显示小箭头图片*/
  background: url("/pic/arrow down.svg") no-repeat scroll right center transparent;
  background-size: 0.5rem;
  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding-right: 14px;
  outline: none;
  font-size: 1rem;
}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }
/***************************************/
.buts-wrap{
  display: flex;
  justify-content: center;
}
button{
  min-width: 4rem;
  padding: 5px 10px;
  margin: 5px;
  transition: all 0.3s ease;
}

/***************************************/
/*悬浮气泡*/
.key-word-wrap{position: relative !important}
.key-word-wrap .key-word-detail-div{
  z-index: 999;
  display: none;
  position: absolute;
  bottom:20px;
  left: 0;
  min-width: 150px;
  width: max-content;
  padding: 10px 10px;
  font-weight: normal;
  background: #fff !important;
  text-align: left !important;
  border-radius: 8px !important;
  color: #363636 !important;
  border: 1px solid #eeeeee;
  -moz-box-shadow: 0px 0px 12px #dde0e4;
  -webkit-box-shadow: 0px 0px 12px #dde0e4;
  box-shadow: 0px 0px 12px #dde0e4;
}
.key-word-wrap:hover .key-word-detail-div{display: block !important;}
/***************************************/


